html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


























/*Start of code*/ 

@font-face {
    font-family: 'Gelion';
    font-style: normal;
    font-weight: 400;
    src: local('Gelion'), local('Gelion-Regular'),
         url('../fonts/Gelion-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Gelion';
    font-style: normal;
    font-weight: 500;
    src: local('Gelion'), local('Gelion-Medium'),
         url('../fonts/Gelion-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Gelion';
    font-style: normal;
    font-weight: 600;
    src: local('Gelion'), local('Gelion-SemiBold'),
         url('../fonts/Gelion-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Gelion';
    font-style: normal;
    font-weight: 700;
    src: local('Gelion'), local('Gelion-Bold'),
         url('../fonts/Gelion-Bold.woff') format('woff');
}

/*
*{ border: 0.5px solid grey;}
*/

html {
    background: linear-gradient(360deg, rgba(255, 241, 241, 0.5) 0%, rgba(255, 241, 241, 0) 108.69%);
}

.wrapper {
    width: calc(100% - 1rem);
	margin: 0 auto;
	padding: 0 0.5rem;
}

header {
    display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: flex;
	align-self: flex-start;
    height: 50px;
    background: url(../images/covid.svg) no-repeat left/40%;
}

.site_name {
    display: flex;
    align-items: center;
    margin-left: 50px;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
    color: #035755;
}

header nav {
    display: flex;
    margin: 15px 0px 0px 0px;
    justify-content: space-between;
}

nav li {
    display: inline-flex;
}

nav li a {
    margin-left: 45px;
    margin-bottom: 10px;
    font-family: Gelion;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #035755;
    text-decoration: none;
    position: relative;
}

nav li a:hover {
    font-family: Gelion;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FB4C47;
}

nav li a:hover::after {
    position: absolute;
    content: " ";
    bottom: -15px;
    right: calc(50% - 5px);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #FA5652;
}

.header_contacts {
    font-family: Gelion;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FF383D;
    border: 2px solid #FB4C47;
    box-sizing: border-box;
    border-radius: 46px;
    padding: 9px 25px 9px 25px;
}


















section {
    display: flex;
}

.quarantine_image {
    max-width: 100%;
    background: no-repeat url(../images/quarantine_full.svg);
    background-size: contain;
}

.slogan {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    margin-top: 70%;
}

.slogan strong {
	text-align: center;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 100%;
    color: #FA5652;
    margin-top: 50px;
}

.slogan h1 {
    text-align: center;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 122%;
    font-size: 2.5em;
    color: #035755;
    margin-top: 10px;
}

.slogan p {
    text-align: center;
    font-family: Gelion;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-transform: capitalize;
	color: #4B4F51;
	margin: 10px auto 0;
	max-width: 95%;}

.slogan a {
    text-decoration: none;
    display: inline-block;
    padding: 14px 30px;
    background: #FB4C47;
    border: 2px solid #FB4C47;
    border-radius: 65px;
    font-family: Gelion;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin: 15px auto 0;
}

.slogan a:hover {
    text-decoration: none;
    display: inline-block;
    padding: 14px 30px;
    background: transparent;
    border: 2px solid #FB4C47;
    border-radius: 65px;
    font-family: Gelion;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-transform: capitalize;
    color: #FF383D;
}













.declaration_section {
    flex-direction: column;
}

.covid_mask {
    max-width: 80%;
    display: flex;
    margin: 0px auto;
}

.covid_declaration {
    text-align: center;
}

.covid_declaration strong {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    font-size: 1.4em;
    color: #FA5652;
}

.covid_declaration h2 {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 2.5em;
    color: #035755;
    margin-top: 10px;
}

.covid_declaration p {
    font-family: Gelion;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 190%;
    text-transform: capitalize;
    color: #4B4F51;
	margin: 10px auto 0;
	max-width: 95%;}

.covid_declaration a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 25px;
    background: rgba(250, 86, 82, 0.15);
    border-radius: 65px;
    font-family: Gelion;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
    color: #FA5652;
    margin-top: 15px;
}

.covid_declaration a:hover {
    text-decoration: none;
    display: inline-block;
    padding: 10px 25px;
    background: #FB4C47;
    border-radius: 65px;
    font-family: Gelion;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
    color: #FFFFFF;
}

















.contagion_section {
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.contagion {
    text-align: center;
    margin: 50px auto 20px;
}

.contagion strong {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    font-size: 1.4em;
    color: #FA5652;
}

.contagion h2 {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 2.5em;
    color: #035755;
    margin-top: 10px;
}

.contagion p {
    font-family: Gelion;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 190%;
    text-transform: capitalize;
	color: #4B4F51;
	margin-top: 10px;
}

.contagion_ways {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contagion_ways h4 {
    font-family: Gelion;
    font-style: normal;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 25px;
    color: #035755;
    margin: 10px 0px;
    text-align: center;
}

.contagion_ways p {
    font-family: Gelion;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 190%;
    text-transform: capitalize;
    color: #4B4F51;
    text-align: center;
}

.contagion_way_air {
    padding: 5%;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    position: relative;
    margin: 20px auto;
}

.contagion_way_contact {
    padding: 5%;
    margin: 0px 36px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    position: relative;
    margin: 20px auto;
}

.contagion_way_object {
    padding: 5%;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    position: relative;
    margin: 20px auto;
}

.contagion_way_air:hover::after {
    position: absolute;
    content: " ";
    bottom: -5px;
    right: 10px;
    width: 94%;
    height: 5px;
    background: #FA5652;
    border-radius: 0px 0px 100px 100px;
}

.contagion_way_contact:hover::after {
    position: absolute;
    content: " ";
    bottom: -5px;
    right: 10px;
    width: 94%;
    height: 5px;
    background: #FA5652;
    border-radius: 0px 0px 100px 100px;
}

.contagion_way_object:hover::after {
    position: absolute;
    content: " ";
    bottom: -5px;
    right: 10px;
    width: 94%;
    height: 5px;
    background: #FA5652;
    border-radius: 0px 0px 100px 100px;
}



















.symptoms_section {
    align-items: center;
    flex-direction: column;
}

.covid_symptoms_heading {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 80px;
}

.covid_symptoms_heading strong {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    font-size: 1.4em;
    color: #FA5652;
}

.covid_symptoms_heading h2 {
    text-transform: capitalize;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5em;
	color: #035755;
	margin-top: 10px;
}

.covid_symptoms_heading p {
    font-family: Gelion;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 190%;
    text-transform: capitalize;
    color: #4B4F51;
	display: flex;
	margin-top: 10px;
}

.symptoms_section div img {
    max-width: 80%;
    display: flex;
    margin: 0px auto;
}




















.covid_safety_actions {
    flex-direction: column;
    text-align: center;
}

.covid_safety_tips_heading {
    text-align: center;
    margin: 100px auto 0px;
}

.covid_safety_tips_heading strong {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    font-size: 1.4em;
    color: #FA5652;
    line-height: 124%;
    text-align: center;
}

.covid_safety_tips_heading  h2 {
    text-transform: capitalize;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5em;
    color: #035755;
    margin-top: 10px;
    line-height: 124%;
    text-align: center;
}

.covid_safety_tips_heading  p {
    font-family: Gelion;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 190%;
    text-transform: capitalize;
	color: #4B4F51;
	margin-top: 10px;
}

.covid_safety_tip_image {
    display: flex;
}

.covid_safety_tip_image img {
    max-width: 320px;
    margin: 20px auto 0;
}

.covid_tip_1 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.covid_safety_tip_text_1 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.covid_safety_tip_text_1 img {
	width: 50px;
	margin: 40px 20px 0 auto;
}

.covid_tip_1 h4 {
    font-family: Gelion;
    font-style: normal;
    font-weight: 500;
    font-size: 2.2em;
    text-transform: capitalize;
	color: #035755;
	margin: 50px auto 0 0;
	max-width: 70%;
	text-align: left;
}

.covid_tip_1 p {
    font-family: Gelion;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 150%;
    text-transform: capitalize;
	color: #4B4F51;
	margin: 10px auto 0;
	max-width: 95%;
}

.covid_tip_2 {
    display: flex;
    flex-direction: column;
    margin: 30px auto 0px;
}

.covid_safety_tip_text_2 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.covid_safety_tip_text_2 img {
	width: 50px;
	margin: 40px 20px 0 auto;
}

.covid_tip_2 h4 {
    font-family: Gelion;
    font-style: normal;
    font-weight: 500;
    font-size: 2.2em;
    text-transform: capitalize;
    color: #035755;
	margin: 50px auto 0 0;
	max-width: 70%;
	text-align: left;
}

.covid_tip_2 p {
    font-family: Gelion;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 150%;
    text-transform: capitalize;
	color: #4B4F51;
	margin: 10px auto 0;
	max-width: 95%;
}

.covid_tip_3 {
    display: flex;
    flex-direction: column;
    margin: 30px auto 0px;
}

.covid_safety_tip_text_3 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.covid_safety_tip_text_3 img {
	width: 50px;
	margin: 40px 20px 0 auto;
}

.covid_tip_3 h4 {
    font-family: Gelion;
    font-style: normal;
    font-weight: 500;
    font-size: 2.2em;
    text-transform: capitalize;
    color: #035755;
	margin: 50px auto 0 0;
	max-width: 70%;
	text-align: left;
}

.covid_tip_3 p {
    font-family: Gelion;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 150%;
    text-transform: capitalize;
	color: #4B4F51;
	margin: 10px auto 0;
	max-width: 95%;
}

.covid_tip_4 {
    display: flex;
    flex-direction: column;
    margin: 30px auto 0px;
}

.covid_safety_tip_text_4 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.covid_safety_tip_text_4 img {
	width: 50px;
	margin: 40px 20px 0 auto;
}

.covid_tip_4 h4 {
    font-family: Gelion;
    font-style: normal;
    font-weight: 500;
    font-size: 2.2em;
    text-transform: capitalize;
    color: #035755;
	margin: 50px auto 0 0;
	max-width: 70%;
	text-align: left;
}

.covid_tip_4 p {
    font-family: Gelion;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 150%;
    text-transform: capitalize;
	color: #4B4F51;
	margin: 10px auto 0;
	max-width: 95%;
}



















/* ВИЗУАЛЬНАЯ ВРЕМЕННАЯ РЕАЛИЗАЦИЯ */

.covid_totals {
    display: flex;
    margin: 100px auto 0px;
    flex-direction: column;
}

.covid_map {
    display: flex;
}

.covid_map img {
    max-width: 80%;
    display: flex;
    margin: 0px auto;
}

.covid_total_reports {
    display: flex;
    padding: 45px;
    background: linear-gradient(360deg, #FFFBFB -79.45%, #FDFDFD 105.35%);
    box-shadow: 0px 7px 95px rgba(0, 0, 0, 0.07);
    flex-direction: column;
    margin: 20px auto 0;
}

.covid_total_heading h2 {
    font-family: Gelion;
    font-weight: 500px;
    font-size: 2.2em;
    text-transform: capitalize;
    color: #035755;
}

table {
    width: 100%;
	border: 0px;
	margin-top: 20px;
}

tr td {
    font-family: Gelion;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 37px;
    color: #13615F;
    border: 0px;
}




















.contact_form {
    display: flex;
    margin: 0px auto;
    flex-direction: column;
}

.contact_form h3 {
    display: flex;
    font-family: Gelion;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
	color: #0C6C44;
	margin: 80px 0 10px;
}

.contact_form form {
    display: flex;
    justify-content: space-between;
}

.contact_form div { 
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 8px 80px rgba(0, 0, 0, 0.06);
    border-radius: 57px;
    overflow: hidden;
}

#write_email {
    height: 50px;
    margin: auto;
    padding-left: 10px;
    font-family: Gelion;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #758681;
    border-style: none;
    background: none;
	outline: none;
	padding-left: 10px;
}

#write_email::placeholder {
	color: #bebebe;
}

input {
	outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #ffffff !important; /* Цвет фона */
    -webkit-text-fill-color: #758681 !important; /* цвет текста */
    color: #758681 !important; /* цвет текста */
}

#send_email {
    width: 70px;
    height: 30px;
    margin: auto;
    background: #F44A45;
    border: 2px solid #FB4C47;
    border-radius: 157px;
    font-family: Gelion;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    color: #FFFFFF;
    cursor: pointer;
}

#send_email:hover {
    width: 70px;
    height: 30px;
    margin: auto;
    background: rgba(250, 86, 82, 0.15);
    border: 2px solid #FB4C47;
    border-radius: 157px;
    font-family: Gelion;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    color: #FA5652;
    cursor: pointer;
}

.contact_form form {
    display: flex;
    justify-content: space-between;
}



















footer {
    display: flex;
	flex-direction: column;
	margin-top: 30px;
}

.footer_menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

footer .logo {
    height: 50px;
    background: url(../images/covid.svg) no-repeat left/40%;
    margin: 30px auto 0px 45px;
}

footer .site_name {
    align-items: center;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
    color: #035755;

}

footer nav ul {
    display: flex;
    flex-direction: column;
    padding: 0px;

}

footer li a {
    margin: 0px auto;
}

.social {
    justify-content: space-between;
    margin-top: 10px;
}

.social ul {
    padding: 0px;
}

.social ul li {
    width: 60px;
    display: inline-flex;
    list-style-type: none;
}

.copyright {
    margin: 20px auto 0;
    font-family: Gelion;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    color: #415E56;
}